// * {
//   background-color: #0a162d;
// }

// p {
//   color: red;
//   background-color: #0a162d;
// }

.room-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 250px;
}
