<!-- <p>date-time-picker works!</p> -->
<div class="booking-form">
  <form #roombooking="ngForm" (ngSubmit)="onSubmit(roombooking.value, $event)">
    <div class="form-group">
      <label for="user">User: </label>
      <select class="form-control" name="user" ngModel>
        <option value="" selected disabled hidden>Select user</option>

        <option *ngFor="let user of users" [value]="user.name">{{
          user.name
        }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="date">Date: </label>
      <input
        class="form-control"
        type="date"
        name="date"
        [min]="minDate"
        [max]="maxDate"
        ngModel
      />
    </div>
    <div class="form-group">
      <label for="time">Time: </label>
      <select class="form-control" name="time" ngModel>
        <option value="" selected disabled hidden>Select Time</option>
        <option *ngFor="let time of times" [value]="time.slot">{{
          time.slot
        }}</option>
      </select>
    </div>
    <input type="hidden" name="roomId" [(ngModel)]="roomId" />
    <button class="btn btn-primary" type="submit" value="submit">Submit</button>
    <!-- <input class="btn btn-primary" type="submit" value="submit" /> -->
  </form>

  <div *ngIf="showPicked">
    {{ user }} - {{ bookingDate }} - {{ bookingTime }}
    <button class="btn btn-info" (click)="onConfirm()">Confirm</button>
    <button class="btn btn-info" (click)="onCancel()">
      Cancel
    </button>
  </div>
  <table class="table table-bordered table-stiped">
    <thead class="thead-dark">
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.date }}</td>
        <td>{{ booking.time }}</td>
        <td>{{ booking.user }}</td>
      </tr>
    </tbody>
  </table>
</div>
