<!-- <p>date-time-picker works!</p> -->
<div>
  <form #roombooking="ngForm" (ngSubmit)="onSubmit(roombooking.value)">
    <label for="user">User: </label>
    <select name="user" ngModel>
      <option value="" selected disabled hidden>Select user</option>

      <option *ngFor="let user of users" [value]="user.name">{{
        user.name
      }}</option>
    </select>
    <br />
    <label for="date">Date: </label>
    <input type="date" name="date" [min]="minDate" [max]="maxDate" ngModel />
    <br />
    <label for="time">Time: </label>
    <select name="time" ngModel>
      <option value="" selected disabled hidden>Select Time</option>
      <option *ngFor="let time of times" [value]="time.slot">{{
        time.slot
      }}</option>
    </select>
    <br />
    <input type="submit" value="submit" />
  </form>

  <div *ngIf="showPicked">
    {{ user }} - {{ bookingDate }} - {{ bookingTime }}
  </div>
  <div *ngFor="let booking of bookings">
    {{ booking.date }} - {{ booking.time }} - {{ booking.user }}
  </div>
</div>
